<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>880740674901-v5idqdpfveca8cip3o3jmcpmqpc9e8r7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.880740674901-v5idqdpfveca8cip3o3jmcpmqpc9e8r7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>880740674901-6e9uv0kc07iakqvto7ac4ifa9a03op1h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBThGIh-XCSouD47vdCwZeHfqh0Am0LypU</string>
	<key>GCM_SENDER_ID</key>
	<string>880740674901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.josemarjobs.timetrackerfluttercourse</string>
	<key>PROJECT_ID</key>
	<string>time-tracker-flutter-cou-79e0f</string>
	<key>STORAGE_BUCKET</key>
	<string>time-tracker-flutter-cou-79e0f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880740674901:ios:8f82b8358d1742471a93dc</string>
	<key>DATABASE_URL</key>
	<string>https://time-tracker-flutter-cou-79e0f.firebaseio.com</string>
</dict>
</plist>